.centrado{

    text-align: center;
}

.limitar_tamano{
    width: 100%;
    max-width: 400px;
    margin: auto;
    
}

.separador{
    margin-top: 30px;
}

.tamano_logo{
    width: 50px;
    max-width: 50px;

}